<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">MrBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/auctions">Auctions</a>
        </li>
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="navbar-nav mr-auto">       
                <li class="nav-item active">
                    <a class="nav-link" href="/user/logout">Çıkış Yap</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/auctions/dashboard">Kontrol Paneli</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user/login">Giriş Yap</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/register">Kayıt Ol</a>
                </li>
            </ul>
        {% endif %}


    
    </div>
</nav>